body {
background-image: url('img/home.jpg');
background-size: cover;
background-repeat: no-repeat;
color: rgb(125, 128, 107); 



}




nav {
    height: 90px;
    width: 70vw;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    top: 0;
    position: fixed;
    left: 0; 
    right: 0; 
    text-align: center;
}


a {
    position: relative;
    text-decoration: none;
    font-family: 'Poppins' , sans-serif;
    color: rgb(0, 0, 0);
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

a::after{
    content: "";
    position: absolute;
    background-color:#9ca158 ;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;

}
a:hover{
    color: #9ca158;
}
a:hover::after{
    width: 100%;

}
.conteudo-home {
    width: 100%; 
    height: 100vh; 
    background-color: #000000; 
    color: #fff;

}

.container {
    display: flex;

    align-items: center;
    padding: 20px;
    
    color: rgb(148, 134, 30);
    
    box-sizing: border-box;
    height: 70vh; 
    margin-top: 50px;
}

.containersobre {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 70%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    font-size: 30px;
    color: rgb(59, 66, 22);
    font-family: 'Kalam', cursive;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px rgba(238, 223, 223, 0.5);
}


.container h1 {

    font-size: 80px; 
    text-align: center;
    margin-top: 180px;
    margin-right: 20px;
    margin-left: 60px;
    font-family: 'Kalam', cursive;
    font-family: 'Poppins', sans-serif;
    text-shadow: rgb(179, 176, 154);

}
.texto{

    text-shadow:  rgb(208, 205, 180);
}

.header {
    font-size: 24px;
}


@media (max-width: 768px) {
    .header {
        font-size: 18px;
    }
}

.menu {
    text-align: center; 
}

.menu ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline; 
    margin-right: 20px; 
}

.menu a {
    text-decoration: none; 
    color: rgb(119, 107, 17); 
    text-shadow:  #443e05;
}

    .card-body {
        height: 200px; 
        overflow: hidden; 
    }

      
        .carousel-inner img {
            width: 100%;
            height: auto;
        }

        .slide-text {
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            padding: 20px;
        }

        .containerlugares {
            display: flex;
            flex-direction: column; 
            align-items: center;
            justify-content: center; 
            padding: 50px;
            color: rgb(156, 151, 107);
            box-sizing: border-box;
            height: 70vh;
            margin-top: 200px;
        }
        .carousel-inner {
            max-width: 95%; 
            max-height: 500px; 
            margin: 140px auto; 
            align-items: center;
        }
        .carousel-item img {
            width: 90%; 
            height: 350px; 
            object-fit: cover; 
            margin-left: 60px;  
      }

        .span-control{
            color: #443e0500;

      }
        .carousel-control-next-icon {
            margin-left: 60px;
          

        }
        .carousel-control-prev-icon{
            margin-right: 90px;
            
        } 
        
        .col-md-6 h3 {

            font-family: 'Kalam', cursive;
            font-family: 'Poppins', sans-serif;
            margin-left: 60px;
            color: #000000;
            text-shadow: #fff;
        }

        .col-md-6 p {

            margin-left: 60px;
            color: white;
            font-size: 20px;
            text-shadow: #443e05;
        }
       
        .containersobre {
            text-align: center; 
        }
        
        .imagem-centralizada {
            display: block; 
            margin: 100px auto 0; 
            height: 50%;
            width: 70%;
        }
        body.sobre  {
            background-image: url('img/bandeira.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            color: rgb(8, 8, 7); 
            
         }

        
.containersobre {
    text-align: center; 
    padding: 20px; 
}


    