body {
background-image: url('img/home.jpg');
background-size: cover;
background-repeat: no-repeat;
color: rgb(125, 128, 107); 



}

nav {
    height: 90px;
    width: 70vw;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    top: 0;
    position: fixed;
    left: 0; /* Deixe o valor de 'left' como 0 */
    right: 0; /* Adicione 'right' como 0 para estender o menu até a borda direita */
    text-align: center;
}


a {
    position: relative;
    text-decoration: none;
    font-family: 'Poppins' , sans-serif;
    color: rgb(0, 0, 0);
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

a::after{
    content: "";
    position: absolute;
    background-color:#9ca158 ;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;

}
a:hover{
    color: #9ca158;
}
a:hover::after{
    width: 100%;

}
.conteudo-home {
    width: 100%; /* Preenche a largura da janela de visualização */
    height: 100vh; /* Preenche a altura da janela de visualização */
    background-color: #000000; /* Cor de fundo preta (opcional) */
    color: #fff; /* Cor do texto (opcional) */

}

.container {
    display: flex;

    align-items: center;
    padding: 20px;
    
    color: rgb(148, 134, 30);
    
    box-sizing: border-box;
    height: 70vh; /* Define a altura como 100% da altura da janela */
    margin-top: 50px;
}
.container h1 {

    font-size: 80px; /* Define o tamanho da fonte do texto */
    color: #443e05; /* Define a cor do texto */
    text-align: center;
    margin-top: 180px;
    margin-right: 20px;
    margin-left: 60px;
    font-family: 'Kalam', cursive;
    font-family: 'Poppins', sans-serif;
    text-shadow: rgb(179, 176, 154);

}
.texto{

    text-shadow:  rgb(208, 205, 180);
}

.header {
    font-size: 24px;
}

/* Estilo para telas menores (dispositivos móveis) */
@media (max-width: 768px) {
    .header {
        font-size: 18px;
    }
}

.menu {
    text-align: center; /* Centraliza o conteúdo horizontalmente */
}

.menu ul {
    list-style: none; /* Remover marcadores de lista */
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline; /* Exibir itens de navegação em linha */
    margin-right: 20px; /* Espaçamento entre os itens de navegação */
}

.menu a {
    text-decoration: none; /* Remover sublinhado dos links */
    color: rgb(119, 107, 17); /* Cor dos links na barra de navegação */
    text-shadow:  #443e05;
}

    .card-body {
        height: 200px; /* Defina a altura desejada para os cards aqui */
        overflow: hidden; /* Para garantir que o conteúdo não transborde caso seja muito longo */
    }

        /* Estilos para personalizar o slider */
        .carousel-inner img {
            width: 100%;
            height: auto;
        }

        .slide-text {
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            padding: 20px;
        }

        .containerlugares {
            display: flex;
            flex-direction: column; /* Para centralizar verticalmente */
            align-items: center;
            justify-content: center; /* Para centralizar horizontalmente */
            padding: 50px;
            color: rgb(156, 151, 107);
            box-sizing: border-box;
            height: 70vh;
            margin-top: 200px;
        }
        .carousel-inner {
            max-width: 95%; /* Defina a largura máxima do slide */
            max-height: 500px; /* Defina a altura máxima do slide */
            margin: 140px auto; /* Isso centralizará o carrossel horizontalmente na página e definirá a margem superior */
            align-items: center;
        }
        .carousel-item img {
            width: 90%; /* Defina a largura desejada para as imagens */
            height: 350px; /* Defina a altura desejada para as imagens */
            object-fit: cover; /* Mantenha a proporção de aspecto e preencha todo o espaço disponível */
            margin-left: 60px;  
      }

        .span-control{
            color: #443e0500;

      }
        .carousel-control-next-icon {
            margin-left: 60px;
          

        }
        .carousel-control-prev-icon{
            margin-right: 90px;
            
        } 
        
        .col-md-6 h3 {

            font-family: 'Kalam', cursive;
            font-family: 'Poppins', sans-serif;
            margin-left: 60px;
            color: #000000;
            text-shadow: #fff;
        }

        .col-md-6 p {

            margin-left: 60px;
            color: white;
            font-size: 20px;
            text-shadow: #443e05;
        }
       
        .containersobre {
            text-align: center; /* Isso alinha horizontalmente o conteúdo dentro do container */
        }
        
        .imagem-centralizada {
            display: block; /* Isso torna a imagem um elemento de bloco */
            margin: 100px auto 0; /* Isso centraliza a imagem horizontalmente */
            height: 50%;
            width: 70%;
        }
        body.sobre  {
            background-image: url('img/bandeira.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            color: rgb(8, 8, 7); 
            
         }

         /* Estilos para o container com a classe "containersobre" */
.containersobre {
    text-align: center; /* Alinhar conteúdo no centro horizontalmente */
    padding: 20px; /* Espaçamento interno para maior clareza */
}


    